<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.feifei.phonebook.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.feifei.phonebook.Perspective"
            icon="icons/info.png"
            id="phonebook.perspective"
            name="电话本">
      </perspective>
      <perspective
            class="org.feifei.phonebook.MyPerspective"
            icon="icons/cd.png"
            id="org.feifei.phonebook.MyPerspective"
            name="我的地盘"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.feifei.phonebook.welcome.AllContactorView"
            id="org.feifei.phonebook.welcome.AllContactorView"
            name="tree"/>
      <view
            class="org.feifei.phonebook.leftMenu.LeftMenu"
            id="org.feifei.phonebook.leftMenu.LeftMenu"
            name="左边侧栏"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.feifei.phonebook.welcome.WelcomeEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.welcome.WelcomeEditor"
            name="欢迎界面"/>
      <editor
            class="org.feifei.phonebook.adduser.AddUserEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.adduser.AddUserEditor"
            name="添加联系人"/>
      <editor
            class="org.feifei.phonebook.base.BaseEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.base.BaseEditor"
            name="所有editor的基类"/>
      <editor
            class="org.feifei.phonebook.lookOverUser.LookOverUserEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.lookOverUser.LookOverUserEditor"
            name="查看联系人"/>
      <editor
            class="org.feifei.phonebook.music.MusicEditor"
            icon="icons/statics-1.png"
            id="org.feifei.phonebook.music.MusicEditor"
            name="听歌专页"/>
      <editor
            class="org.feifei.phonebook.emails.EmailClient"
            icon="icons/email2.png"
            id="org.feifei.phonebook.emails.EmailClient"
            name="邮件客户端"/>
      <editor
            class="org.feifei.phonebook.updateUser.UpdateUserEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.updateUser.UpdateUserEditor"
            name="修改联系人"/>
      <editor
            class="org.feifei.phonebook.favorate.XuncangluEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.favorate.XuncangluEditor"
            name="寻藏路"/>
      <editor
            class="org.feifei.phonebook.favorate.MyfavoriteEditor"
            icon="icons/alt_window_16.gif"
            id="org.feifei.phonebook.favorate.MyfavoriteEditor"
            name="我的收藏夹"/>
      <editor
            class="org.feifei.phonebook.searchuser.SearchUser"
            icon="icons/user-32.png"
            id="org.feifei.phonebook.searchuser.SearchUser"
            name="查找联系人"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="html/toc.xml"
            primary="true"/>
   </extension>
   <extension
         id="product7"
         point="org.eclipse.core.runtime.products">
      <product
            application="phonebook.application"
            name="phoneBook">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.feifei.phonebook.preference.UrlSetPreference"
            id="phonebook.page1"
            name="左侧栏设置页"/>
   </extension>

</plugin>
